In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Import

In [0]:
!pip install seqeval[gpu]
from seqeval.metrics import precision_score, recall_score, f1_score, classification_report
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import tensorflow_hub as hub
from tensorflow.compat.v1.keras import backend as K
from tensorflow.keras.models import Model
from keras.layers import add
from tensorflow.keras.layers import Lambda, LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Input, Add

Load Dataset

In [4]:
plt.style.use("ggplot")
main_path = '/content/gdrive/My Drive/NLP/'
data = pd.read_csv( main_path + "ner_dataset.csv", encoding="latin1")
data = data.drop(['POS'], axis =1)
data = data.fillna(method="ffill")
data.tail(12)

              Sentence #       Word    Tag
1048563  Sentence: 47958   exploded      O
1048564  Sentence: 47958       upon      O
1048565  Sentence: 47958     impact      O
1048566  Sentence: 47958          .      O
1048567  Sentence: 47959     Indian  B-gpe
1048568  Sentence: 47959     forces      O
1048569  Sentence: 47959       said      O
1048570  Sentence: 47959       they      O
1048571  Sentence: 47959  responded      O
1048572  Sentence: 47959         to      O
1048573  Sentence: 47959        the      O
1048574  Sentence: 47959     attack      O

In [0]:
words = set(list(data['Word'].values))
words.add('PADword')
n_words = len(words)
tags = list(set(data["Tag"].values))
n_tags = len(tags)

Sentence Getter

In [0]:
class SentenceGetter(object):
    
    def __init__(self, data):
        self.n_sent = 1
        self.data = data
        self.empty = False
        agg_func = lambda s: [(w, t) for w, t in zip(s["Word"].values.tolist(),s["Tag"].values.tolist())]
        self.grouped = self.data.groupby("Sentence #").apply(agg_func)
        self.sentences = [s for s in self.grouped]
    
    def get_next(self):
        try:
            s = self.grouped["Sentence: {}".format(self.n_sent)]
            self.n_sent += 1
            return s
        except:
            return None

In [7]:
getter = SentenceGetter(data)
sent = getter.get_next()
print(sent)
sentences = getter.sentences
print(len(sentences))
largest_sen = max(len(sen) for sen in sentences)
print('biggest sentence has {} words'.format(largest_sen))

[('Thousands', 'O'), ('of', 'O'), ('demonstrators', 'O'), ('have', 'O'), ('marched', 'O'), ('through', 'O'), ('London', 'B-geo'), ('to', 'O'), ('protest', 'O'), ('the', 'O'), ('war', 'O'), ('in', 'O'), ('Iraq', 'B-geo'), ('and', 'O'), ('demand', 'O'), ('the', 'O'), ('withdrawal', 'O'), ('of', 'O'), ('British', 'B-gpe'), ('troops', 'O'), ('from', 'O'), ('that', 'O'), ('country', 'O'), ('.', 'O')]
47959
biggest sentence has 104 words

In [8]:
words2index = {w:i for i,w in enumerate(words)}
tags2index = {t:i for i,t in enumerate(tags)}
print(words2index['London'])
print(tags2index['B-geo'])

9817
10

In [9]:
max_len = 50
X = [[w[0]for w in s] for s in sentences]
new_X = []
for seq in X:
    new_seq = []
    for i in range(max_len):
        try:
            new_seq.append(seq[i])
        except:
            new_seq.append("PADword")
    new_X.append(new_seq)
new_X[15]

['Israeli',
 'officials',
 'say',
 'Prime',
 'Minister',
 'Ariel',
 'Sharon',
 'will',
 'undergo',
 'a',
 'medical',
 'procedure',
 'Thursday',
 'to',
 'close',
 'a',
 'tiny',
 'hole',
 'in',
 'his',
 'heart',
 'discovered',
 'during',
 'treatment',
 'for',
 'a',
 'minor',
 'stroke',
 'suffered',
 'last',
 'month',
 '.',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword',
 'PADword']

In [10]:
y = [[tags2index[w[1]] for w in s] for s in sentences]
y = pad_sequences(maxlen=max_len, sequences=y, padding="post", value=tags2index["O"])
y[15]

array([ 3,  8,  8, 13,  2,  2,  2,  8,  8,  8,  8,  8, 12,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
      dtype=int32)

In [0]:
X_tr, X_te, y_tr, y_te = train_test_split(new_X, y, test_size=0.1, random_state=2018)

Form the model

In [0]:
batch_size = 32
sess = tf.Session()
K.set_session(sess)

In [0]:
elmo_model = hub.Module("https://tfhub.dev/google/elmo/2", trainable=True)
sess.run(tf.global_variables_initializer())
sess.run(tf.tables_initializer())

In [0]:
def ElmoEmbedding(x):
    return elmo_model(inputs={
                            "tokens": tf.squeeze(tf.cast(x, tf.string)),
                            "sequence_len": tf.constant(batch_size*[max_len])
                      },
                      signature="tokens",
                      as_dict=True)["elmo"]

In [0]:
input_text = Input(shape=(max_len,), dtype=tf.string)
embedding = Lambda(ElmoEmbedding, output_shape=(max_len, 1024))(input_text)
x = Bidirectional(LSTM(units=512, return_sequences=True,
                       recurrent_dropout=0.2, dropout=0.2))(embedding)
x_rnn = Bidirectional(LSTM(units=512, return_sequences=True,
                           recurrent_dropout=0.2, dropout=0.2))(x)
x = Add()([x, x_rnn])  # residual connection to the first biLSTM
out = TimeDistributed(Dense(n_tags, activation="softmax"))(x)

In [0]:
model = Model(input_text, out)
model.compile(optimizer="adam", loss="sparse_categorical_crossentropy", metrics=["accuracy"])

In [0]:
X_tr, X_val = X_tr[:1213*batch_size], X_tr[-135*batch_size:]
y_tr, y_val = y_tr[:1213*batch_size], y_tr[-135*batch_size:]
y_tr = y_tr.reshape(y_tr.shape[0], y_tr.shape[1], 1)
y_val = y_val.reshape(y_val.shape[0], y_val.shape[1], 1)

Training

In [18]:
EPOCHS = 10
history = model.fit(np.array(X_tr), y_tr, validation_data=(np.array(X_val), y_val),
                    batch_size=batch_size, epochs=EPOCHS, verbose=1)

Train on 38816 samples, validate on 4320 samples
Epoch 1/10
38816/38816 [==============================] - 583s 15ms/sample - loss: 0.0638 - acc: 0.9816 - val_loss: 0.0461 - val_acc: 0.9858
Epoch 2/10
38816/38816 [==============================] - 570s 15ms/sample - loss: 0.0410 - acc: 0.9867 - val_loss: 0.0423 - val_acc: 0.9865
Epoch 3/10
38816/38816 [==============================] - 570s 15ms/sample - loss: 0.0341 - acc: 0.9885 - val_loss: 0.0416 - val_acc: 0.9869
Epoch 4/10
38816/38816 [==============================] - 566s 15ms/sample - loss: 0.0281 - acc: 0.9902 - val_loss: 0.0424 - val_acc: 0.9867
Epoch 5/10
38816/38816 [==============================] - 570s 15ms/sample - loss: 0.0229 - acc: 0.9919 - val_loss: 0.0455 - val_acc: 0.9869
Epoch 6/10
38816/38816 [==============================] - 574s 15ms/sample - loss: 0.0186 - acc: 0.9933 - val_loss: 0.0473 - val_acc: 0.9868
Epoch 7/10
38816/38816 [==============================] - 573s 15ms/sample - loss: 0.0152 - acc: 0.9945 - val_loss: 0.0523 - val_acc: 0.9871
Epoch 8/10
38816/38816 [==============================] - 572s 15ms/sample - loss: 0.0130 - acc: 0.9954 - val_loss: 0.0553 - val_acc: 0.9866
Epoch 9/10
38816/38816 [==============================] - 572s 15ms/sample - loss: 0.0110 - acc: 0.9961 - val_loss: 0.0602 - val_acc: 0.9866
Epoch 10/10
38816/38816 [==============================] - 571s 15ms/sample - loss: 0.0098 - acc: 0.9965 - val_loss: 0.0627 - val_acc: 0.9865

Evaluation

In [24]:
X_te = X_te[:149*batch_size]
test_pred = model.predict(np.array(X_te), verbose=1)

4768/4768 [==============================] - 42s 9ms/sample

In [0]:
idx2tag = {i: w for w, i in tags2index.items()}

def pred2label(pred):
    out = []
    for pred_i in pred:
        out_i = []
        for p in pred_i:
            p_i = np.argmax(p)
            out_i.append(idx2tag[p_i].replace("PADword", "O"))
        out.append(out_i)
    return out

def test2label(pred):
    out = []
    for pred_i in pred:
        out_i = []
        for p in pred_i:
            out_i.append(idx2tag[p].replace("PADword", "O"))
        out.append(out_i)
    return out
    
pred_labels = pred2label(test_pred)
test_labels = test2label(y_te[:149*32])

In [26]:
print("F1-score: {:.1%}".format(f1_score(test_labels, pred_labels)))

F1-score: 82.7%

In [27]:
print(classification_report(test_labels, pred_labels))

           precision    recall  f1-score   support

      tim       0.87      0.86      0.86      2148
      org       0.70      0.69      0.69      2061
      per       0.76      0.80      0.78      1677
      geo       0.85      0.89      0.87      3720
      nat       0.22      0.23      0.22        22
      gpe       0.94      0.93      0.94      1591
      eve       0.31      0.36      0.33        33
      art       0.21      0.12      0.16        49

micro avg       0.82      0.83      0.83     11301
macro avg       0.82      0.83      0.83     11301

In [28]:
i = 390
p = model.predict(np.array(X_te[i:i+batch_size]))[0]
p = np.argmax(p, axis=-1)
print("{:15} {:5}: ({})".format("Word", "Pred", "True"))
print("="*30)
for w, true, pred in zip(X_te[i], y_te[i], p):
    if w != "PADword":
        print("{:15}:{:5} ({})".format(w, tags[pred], tags[true]))

Word            Pred : (True)
==============================
Citing         :O     (O)
a              :O     (O)
draft          :O     (O)
report         :O     (O)
from           :O     (O)
the            :O     (O)
U.S.           :B-org (B-org)
Government     :I-org (I-org)
Accountability :I-org (O)
office         :O     (O)
,              :O     (O)
The            :B-org (B-org)
New            :I-org (I-org)
York           :I-org (I-org)
Times          :I-org (I-org)
said           :O     (O)
Saturday       :B-tim (B-tim)
the            :O     (O)
losses         :O     (O)
amount         :O     (O)
to             :O     (O)
between        :O     (O)
1,00,000       :O     (O)
and            :O     (O)
3,00,000       :O     (O)
barrels        :O     (O)
a              :O     (O)
day            :O     (O)
of             :O     (O)
Iraq           :B-geo (B-geo)
's             :O     (O)
declared       :O     (O)
oil            :O     (O)
production     :O     (O)
over           :O     (O)
the            :O     (O)
past           :B-tim (B-tim)
four           :I-tim (I-tim)
years          :O     (O)
.              :O     (O)